[user]
	name = BobDylans
	email = 2603232854@qq.com
[credential "https://github.com"]
	helper = 
	helper = !/home/ivan/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/ivan/.local/bin/gh auth git-credential
